@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Moyamoya-Regular-v1.0';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Cafe24Moyamoya-Regular-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

button {
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    font-family: 'GmarketSansMedium', sans-serif;
    border: 0;
}

button.basic-btn {
    height: 40px;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    background: #7195C3;
}


button.basic-btn.selected {
    background: #4F719D;
}

body {
    font-family: 'GmarketSansMedium', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0 auto;
}

.container {
    background-color: #FCFFC2;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    text-align: center;
    color: #7195C3;
    font-size: 36px;
    padding: 20px 0;
    font-family: 'Cafe24Moyamoya-Regular-v1.0';
}

/*radio custom*/
input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.option {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    color: #4F719D;
    width: 280px;
    margin: 0 auto;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #4F719D;
    border-radius: 50%;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.option input:checked~.checkmark:after {
    display: block;
}

.option .checkmark:after {
    top: 4.2px;
    left: 4.8px;
    width: 9.5px;
    height: 9.5px;
    border-radius: 50%;
    background: #4F719D;
}


.frame {
    display: none;
    text-align: center;
    animation: fadeIn 0.5s;
}

.frame.active {
    display: block;
}

#gender-frame {
    margin-top: 40px;
    text-align: center;
}

#gender-frame h2 {
    font-size: 20px;
    color: #4F719D;
}

#gender-frame .gender-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

#gender-frame .charactor {
    margin-top: 80px;
}

#result-frame .result-container {
    background-color: #FFFDA4;
    padding: 30px;
}

#result-frame .result-container .result-description {
    text-align: left;
    color: #4F719D;
    margin-top: 30px;
}

#result-frame .result-container #result-title {
    width: fit-content;
    background-color: #7195C3;
    color: #fff;
    height: 34px;
    padding: 5px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0 auto;
}


.progress-bar {
    width: 100%;
    height: 15px;
    background-color: #93BCF2;
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #4F719D;
    border-radius: 10px;
    transition: width 0.3s ease;
}

.question-degree .question-number {
    color: #93BCF2;
    font-size: 16px;
    margin-bottom: 10px;
}

.question {
    margin-top: 50px;
}

.question h3 {
    font-size: 20px;
    font-weight: bold;
    color: #4F719D;
}

.question .options {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
}

.nav-btn, .reset-btn {
    margin: 50px auto 0;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}